body {
    background-image: url("https://images.pexels.com/photos/2038617/pexels-photo-2038617.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: #A63922;
}

.App-header {
    margin: 30px 0;
}

.App-logo {
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

.App-footer {
    text-align: center;
    margin: 30px 0;
}