body {
    background-color: #C3CBBE;
}

a {
    color: #A63922;
}

h1 {
    text-align: center;
    color: #7B5C6E;
}

.App {
    padding: 60px 0 100px;
    max-width: 960px;
    margin: 0 auto;
}

.App-header {
    margin: 30px 0;
}

.App-logo {
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

.App-footer {
    text-align: center;
    margin: 30px 0;
   color: #7B5C6E;
}